#speaker {
  background-color: #3D3A33;
  color: #F9F9EF;
}

  .speakerList {

  }

  .speaker  {
    padding-top: 16px;
  }

    .speaker .speakerImg {
      margin: 0 auto;
      border-radius: 50%;
      background-size: cover;
      background-position: right top;
      background-repeat: no-repeat;
    }

    .speaker .name {
      font-size: 1.5em;
      padding: 24px 0 24px 0;
    }

    .speaker .subtitle {
      font-weight: bold;
      color: #ABCF4B;
    }

    .speaker .icons {
      margin: 5px 0 0 10px;
      color: #F9F9EF;
    }

    .speaker .icons a:hover {
      color: #688222;
    }

    .speaker .icons a {
      text-decoration: none;
      color: inherit;
      margin-left: 5px;
    }

    .alexandreBoutin {
      background-image: url('./images/speakers/alexandre_boutin.jpg');
    }

    .cedricBodin {
      background-image: url('./images/speakers/cedric_bodin.jpg');
    }

    .christopheAddinquy {
      background-image: url('./images/speakers/christophe_addinquy.jpg');
    }

    .emmanuelGaillot {
      background-image: url('./images/speakers/emmanuel_gaillot.jpg');
    }

    .jeanPhilippeGouigoux {
      background-image: url('./images/speakers/jean-philippe_gouigoux.jpg');
    }

    .marcDugue {
      background-image: url('./images/speakers/marc_dugue.jpg');
    }

    .axelVillechalane {
      background-image: url('./images/speakers/axel_villechalane.jpg');
    }

    .you {
      background-image: url('./images/speakers/avatar_girl.jpg');
    }

@media (max-width: 468px) {
  /* Phone */
  .speaker .speakerImg {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  /* Vertical pad */
  .speaker .speakerImg {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Horizontal pad */
  .speaker .speakerImg {
    width: 110px;
    height: 110px;
  }
}

@media (min-width: 992px) {
  /* Laptop */
  .speaker .speakerImg {
    width: 140px;
    height: 140px;
  }
}
