#speaker {
  background-color: #3D3A33;
  color: #F9F9EF;
}

  .speakerList {
    padding: 0 3vw 0 3vw;
  }

  .speaker  {
    padding-top: 1vw;
  }

    .speaker .speakerImg {
      width: 140px;
      height: 140px;
      margin: 0 auto;
      border-radius:50%;
    }

    .speaker .name {
      font-size: 1.5em;
      padding: 1em 0 1em 0;
    }

    .speaker .subtitle {
      font-weight: bold;
      color: #3D3A33;
    }
