#speaker {
  position: relative;
  text-align: center;
  background-color: #688222;
  color: #F9F9EF;
  font-family: 'Open Sans', sans-serif;
  padding: 5vw 0 5vw 0;
}

  #speaker header h1 {
    font-weight: bold;
    font-size: 2em;
    padding: 0 0 3vw 0;
    text-align: center;
  }

  .speakerList {
    padding: 0 3vw 0 3vw;
  }

  .speaker  {
    padding-top: 1vw;
  }

    .speaker .speakerImg {
      width: 140px;
      height: 140px;
      margin: 0 auto;
      border-radius:50%;
    }

    .speaker .name {
      font-size: 1.5em;
      padding: 1em 0 1em 0;
    }

    .speaker .subtitle {
      font-weight: bold;
      color: #3D3A33;
    }
