#whatIs {
  background-color: #688222;
  color: #F9F9EF;
}

    .agtDay {
      margin: 0 32px 0 32px;
      background-size: cover;
      background-position: left top;
      background-repeat: no-repeat;
    }

    .agtDay h2 {
      font-weight: bold;
      font-size: 1.5em;
      padding-bottom: 40px;
    }

    .agtDayBackgroundOpacity {
      background: rgba(0,0,0,0.4);
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .agtDayContent {
      padding: 15px 0 15px 0;
    }

    .whatisDay h3 {
      font-weight: bold;
      font-size: 1.2em;
    }

    .whatisDayItem {
      border-radius:50%;
      margin: 15px auto 15px auto;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .codingdojo {
      background-image: url('./images/coding-dojo.jpg');
    }

    .fishball {
      background-image: url('./images/fishball.jpg');
    }

    .masterclass {
      background-image: url('./images/masterclass.jpg');
    }

    .lightning-talk {
      background-image: url('./images/lightning-talk.jpg');
    }

    .rex {
      background-image: url('./images/rex.jpg');
    }

    .conference {
      background-image: url('./images/conference.jpg');
    }


@media (max-width: 468px) {
  /* Phone */
  .agtDay1 {
    background-image: url('./images/lego-phone.jpg');
  }

  .agtDay2 {
    background-image: url('./images/event-phone.jpg');
    margin-top: 20px;
  }

  .whatisDayItem {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  /* Vertical pad */
  .agtDay1 {
    background-image: url('./images/lego-pad-vertical.jpg');
  }

  .agtDay2 {
    background-image: url('./images/event-pad-vertical.jpg');
  }

  .whatisDayItem {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Horizontal pad */
  .agtDay1 {
    background-image: url('./images/lego-pad-horizontal.jpg');
  }

  .agtDay2 {
    background-image: url('./images/event-pad-horizontal.jpg');
  }

  .whatisDayItem {
    width: 110px;
    height: 110px;
  }
}

@media (min-width: 992px) {
  /* Laptop */
  .agtDay1 {
    background-image: url('./images/lego.jpg');
  }

  .agtDay2 {
    background-image: url('./images/event.jpg');
  }

  .whatisDayItem {
    width: 140px;
    height: 140px;
  }
}
