/* Common style  */
    header h1 {
      font-weight: bold;
      font-size: 4em;
      padding: 0 0 48px 0;
    }

		section {
		  position: relative;
		  text-align: center;
		  font-family: 'Open Sans', sans-serif;
		  padding: 48px 0 48px 0;
		}
