#banner {
  color: #3D3A33;
  background-color: #F9F9EF;
  position: relative;
  text-align: center;
  z-index: 21;
}

  #banner .content {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 1;
  }

    #banner .content header {
      display: inline-block;
      vertical-align: middle;
    }

      #banner .content header h1 {
        margin: 0;
        font-family: 'Fredoka One';
      }

      #banner .content header p {
        margin: 0;
        top: 0;
        font-family: 'Open Sans', sans-serif;
      }

    #banner .content .image {
      display: inline-block;
      height: 300px;
      vertical-align: middle;
      width: 300px;
      background-image: url("./images/logo-300x300.png");
      background-position: left top;
      background-size: contain;
    }

    #banner .content .stats {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }

    #banner .content .stats .counter {
      font-weight: bold;
      color: #ABCF4B;
    }

@media (max-width: 468px) {
  /* Phone */
  #banner .content header h1 {
    font-size: 1.2em;
  }

  #banner .content header p {
    font-size: 0.9em;
  }

  #banner .content .stats {
    font-size: 1.5em;
  }

  #banner .content .stats .counter {
    font-size: 2em;
  }

  #banner .content .stats {
    padding: 10px 0 0 0;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  /* Vertical pad */


  #banner .content .stats {
    font-size: 1.5em;
  }

  #banner .content .stats .counter {
    font-size: 2em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Horizontal pad */
  #banner .content .stats {
    font-size: 2em;
  }

  #banner .content .stats .counter {
    font-size: 3em;
  }
}

@media (min-width: 992px) {
  /* Laptop */
  #banner .content header h1 {
    font-size: 2.5em;
  }

  #banner .content .image {
    margin-left: 3em;
  }

  #banner .content {
    text-align: right;
  }

  #banner .content .stats {
    font-size: 2em;
  }

  #banner .content .stats .counter {
    font-size: 3em;
  }

  #banner .content .stats {
    padding: 100px 0 0 0;
  }
}
